.footer__column-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  display: flex;
  align-items: center;
}

.footer__column-link:hover {
  opacity: .4;
  transition: .4s;
}

