.feynman__link {
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  z-index: 1;
}

.feynman__link:hover {
  opacity: .4;
  transition: .4s;
}

