
@import url(./section-title/_theme_dark/section-title_theme_dark.css);
@import url(./section-subtitle/_theme_dark/section-subtitle_theme_dark.css);
@import url(./table/_theme_dark/table_theme_dark.css);
@import url(./table/__cell/_theme_dark/table__cell_theme_dark.css);
@import url(./table/__heading/_theme_dark/table__heading_theme_dark.css);
@import url(./table/__text/_theme_dark/table__text_theme_dark.css);
@import url(./__triangle-pic/kaufman__triangle-pic.css);

.kaufman {
  padding: 90px 0 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  z-index: 1;
  overflow: hidden;

}

